</div>
</body>
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/my_main.js"></script>
<script src="__PUBLIC__/js/jquery.uploadify.js"></script>
<script src="__PUBLIC__/js/jquery.uploadify.min.js"></script>
<div id="footer">
    <div  id="linker" class="center">
        <p id="link_list">
            <a href="#">&nbsp 关于我们&nbsp | </a>
            <a href="#">&nbsp 联系我们&nbsp |</a>
            <a href="#">&nbsp 帮助中心&nbsp |</a>
            <a href="#">&nbsp 法律声明&nbsp |</a>
            <a href="#">&nbsp 广告合作热线</a>
        </p>
        <p class="app">
            &copy e.tju.edu.cn天津大学王者工作室荣誉出品
        </p>
    </div>
</div>