<body>
<div id="page">
    <div id="header">
        <div id="head-container" class="center">
            <div id="nav" class="left">
                <ul class="nav nav-pills left">
                    <li class="dropdown">
                        <a href="__MODULE__/Show/index"class="dropdown-toggle">首页</a>
                    </li>
                </ul>
                <ul class="nav nav-pills left">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"  >图片</a>
                        <ul class="dropdown-menu"  >
                            <li ><a href="__MODULE__/Show/pic/tag/erwei">二维</a></li>
                            <li ><a href="__MODULE__/Show/pic/tag/sanwei">三维</a></li>
                            <li ><a href="__MODULE__/Show/pic/tag/shejizuopin">设计作品</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills left">
                    <li class="dropdown">
                        <a href="__MODULE__/Show/video"  class="dropdown-toggle"  >视频</a>
                    </li>
                </ul>
                <ul class="nav nav-pills left">
                    <li class="dropdown">
                        <a href="__MODULE__/Show/mic"  class="dropdown-toggle"  >音频</a>
                    </li>
                </ul>
                <ul class="nav nav-pills left">
                    <li class="dropdown">
                        <a  href="__MODULE__/Show/rar"  class="dropdown-toggle"  >压缩</a>
                    </li>
                </ul>
            </div>
            <div id="search" class="left">
                <input type="text" placeholder="搜索一下"/>
            </div>
            <div id="person-inf" class="left">
                <div class="person-item left">
                    <p><img src="__PUBLIC__/img/lb.png"/></p>
                </div>
                <div class="person-item left">
                    <a href="__MODULE__/Upload/index">
                        <p><img src="__PUBLIC__/img/cloud.png"/></p>
                    </a>
                </div>
                <div class="person-item left">
                    <a href="__MODULE__/Personal/index">
                        <p class="yahei">{$Think.session.username}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>