<!doctype html>
<html>
<head>
	<title>个人主页</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/commom.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/personal.css" type="text/css">
</head>
<include file="Public/header" keywords="{$think.session.username}" />
<div id="middle" class="center">
	<div id="middle-head">
		<div id="zpname" class="left">
			<p class="yahei left" >图片-艺术:水浒传</p>
		</div>
		<div id="zuozhe" >
			<div id="zz" class="left">
			</div>
			<div id="zz-inf" class="left">
				<p class="yahei">可爱的小鼻子</p>
				<p class="yahei">学生</p>
			</div>
		</div>
	</div>
	<div id="middle-body">
		<p class="yahei">寒风细雨秋来到，落叶归根又一年....</p>
		<div id="zp" class="center">
			<img src="__PUBLIC__/img/11.jpg"/>
		</div>
		<div id="like" class="center">
			<p class="yahei">455</p>
			<p class="yahei">喜欢这个作品</p>
		</div>
	</div>
</div>
<include file="Public/footer"/>
</html>