<!doctype html>
<html>
<head>
	<title>视屏</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/commom.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/shipin.css" type="text/css">
</head>
<include file="Public/header" keywords="{$think.session.username}" />
<div id="middle" class="center">
	<p class="yahei" id="p1">艺术类管理平台</p>
	<div id="sp-container" class="center">
		<div class="row">
			<volist name="result" id="vo">
			<div class="left col">
				<div class="box">
					<div class="index-box" >
						<img src="__PUBLIC__/Uploads/{$vo.content}" title="{$vo.title}"/>
					</div>
					<div>
						<div class="zoupname"><p class="yahei">{$vo.title}</p></div>
						<div class="heart"><img src="__PUBLIC__/img/heart2.png"/></div>
						<p style="float:left;" class="yahei">455</p>
					</div>
				</div>
				<div>
					<div class="yuan"><img src="__PUBLIC__/img/ren.png"/></div><p class="yahei minz">{$user_name}</p>
				</div>
			</div>
		</volist>
		</div>
	</div>
</div>
<include file="Public/footer" keywords="{$think.session.username}" />
</html>